<!-- footer — static footer with link to my website -->
<!-- views/partials/foots.ejs -->

<footer class="footer">
    <div class="container">
        <p class="text-center text-muted"> &copy; Copyright 2015 <a href="http://www.codeprep.io">CopePrep.io</a></p>
    </div>
</footer>